* {
    padding: 0;
    margin: 0;
}
.upperbar {
    width: 100%;
    height: 68px;
    border: 0.2px solid grey; 
    display: flex;
    flex-wrap: wrap;  
    flex-direction: row;
    position: fixed;
    margin-bottom: 100px;
    
 
}
.zerodha {
    height: 23px;
    width: 150px;
    margin-left: 206px;
    margin-top: 20px;
}
.upperwords {
    padding-top: 21px;
    padding-left:45px;
    font-size: 15px;
    opacity: 0.9;
    

   
}
.wordbar {
    margin-left: 303px;
    height: 50px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 120px;
}
.ham {
    padding-top: 20px;
    padding-left: 25px;
    height: 30px;
    width: 30px;
}
.mainimage img {
    height: 300px;
    margin-top: 150px;
    width: 925px;
    size: 100px;
    padding-left: 200px;
    margin-left: 200px;
}
 h1 {
    display: flex;
    justify-content: center;
    font-size: 45px;
    padding-top: 80px;
}

.heading {
    display: flex;
    justify-content: center;
    padding-top: 7px;
    font-size: 1.4rem;
    
}

button {
    display: flex;

    justify-items: center;
    justify-content: center;
}

.mid {
    width: 65%;
    height: 600px;
   margin-left: 18%;
   margin-top: 130px;
   
  
}
.headd {
    margin:1.2rem 0 0.8rem 0;
    font-size: 1.2rem;
    
}
.para {
 opacity: 0.8;
}
 button {
display: block;
margin: auto;
height: 40px;
width: 200px;
margin-top: 40px;
color: white;
background-color: rgb(19, 143, 221);
font-size: large;
border: none;
}
button:hover{
    background-color: black;
} 



.coin img {
    height: 600px;
    width: 650px;
    position: relative;
    left: 400px;


}

.com {
    position: relative;
    bottom: 600px;
    height: 700px;
}

 
